/* @import url("//db.onlinewebfonts.com/c/2545d122b16126676225a5b52283ae23?family=VCR+OSD+Mono"); */

@font-face {
  font-family: "VCR OSD Mono";
  src: url("./VCR OSD Mono/@font-face/2545d122b16126676225a5b52283ae23.eot"); /* IE9*/
  src: url("./VCR OSD Mono/@font-face/2545d122b16126676225a5b52283ae23.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./VCR OSD Mono/@font-face/2545d122b16126676225a5b52283ae23.woff2")
      format("woff2"),
    /* chrome firefox */
      url("./VCR OSD Mono/@font-face/2545d122b16126676225a5b52283ae23.woff")
      format("woff"),
    /* chrome firefox */
      url("./VCR OSD Mono/@font-face/2545d122b16126676225a5b52283ae23.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("http://db.onlinewebfonts.com/t/2545d122b16126676225a5b52283ae23.svg#VCR OSD Mono")
      format("svg"); /* iOS 4.1- */
}

body {
  font-family: "VCR OSD Mono";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
